{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
{% for new in post %}
<p><h1>{{ new.title }}</h1>{{ new.dateCreation|date:'d M y'}}</p>
<p>{{ new.text|truncatechars:20 }}<a href="{{ new.get_absolute_url }}"> continue </a></p>
{% endfor %}

{# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}